@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white min-h-screen;
}

.page-container {
  @apply max-w-6xl mx-auto p-4;
}

.page-header {
  @apply text-3xl font-bold mb-6;
}

.page-subheader {
  @apply text-xl font-semibold mb-4;
}

.list-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4;
}

/* .list-item {
  @apply bg-white dark:bg-gray-800 rounded-lg shadow p-4;
} */

/* .list-grid {
  @apply grid gap-4
         grid-cols-[repeat(auto-fit,minmax(12rem,1fr))]
         items-stretch;
} */

.list-item {
  @apply flex flex-wrap items-center justify-center
         h-20 px-2 text-center
         bg-white dark:bg-gray-800 rounded-lg shadow;

}

.section {
  @apply mt-10 w-full;
}

.stats-grid {
  @apply grid gap-2;
}

.stat-item {
  @apply h-10 w-50 px-3 flex items-center justify-between
          bg-white dark:bg-gray-800 rounded-lg shadow;
}

.image-row {
  @apply flex gap-4 flex-wrap;
}

.app-header {
  @apply text-4xl font-bold bg-gray-900 text-white p-4;
}

.nav-tabs {
  @apply flex text-xl gap-4 mt-2;
}

.nav-tab {
  @apply text-gray-300 hover:text-white;
}
